*
{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box; 
}

.main
{
    height: 100vh;
    width: 100%;
    background-image: url(imagens/Image\ 2023-06-08.jpeg);
    background-size: cover;
    background-position: center;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo
{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}

span
{
    color: #0dec01;
}

nav ul li
{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a
{
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover
{
    color: #0dec01;
    transition: .4s;
}

.btn
{
    background-color: #0dec01;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover
{
    transform: scale(1.2);
}
